@media screen and (max-width: 600px) {
    html { 
        font-size:62.5%
    }
}

@media screen and (min-width: 600px) {
    html { 
        font-size: 75%
    }
}

@media screen and (min-width: 960px) {
    html { 
        font-size: 88%
    }
}


header {
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    height: 4vh;
    width: 100vw;
    background: #eee;
    box-sizing: border-box;
}

.logo {
    padding-left: 1vw;
    padding-top: 1vh;
    margin: 0;
    font-size: 2vh;
}


body {
    font-family: Franklin Gothic;
    color:#000;
    background-color:#fff;
    margin: 0;
    padding-top: 4vh;
}

.profile {
    padding-left: 15vw; 
    padding-right: 15vw; 
    text-align: center;
    display: block;
}

.profile .message {
    text-align: left;
    font-size: 1.5rem;
    display: inline-block;
    font-weight: lighter;
}

.headline {
    position: relative;
    text-align: center;
}

.headline img{
    width: 100%;
    opacity: 0.6;
}

.headline .text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    display:block;
}

.headline .text h1{
    position: relative;
    font-size: 4.0vw;
    display: block;
    
}
.headline .text h3 {
    position: relative;
    font-size: 2.0vw;
    font-weight: lighter;
    display: block;
}

.sub-content {
    padding-left: 15vw;
    padding-right: 15vw;
    margin-bottom: 3.0rem;
}

.sub-content li {
    margin-bottom: 1.5rem;
}

.sub-content .sub-title {
    color: black;
    font-weight: bold;
    font-size: 2.2rem;
    text-shadow:0.07rem 0.07rem 0.15rem gray;
}

.sub-content .sub-text {
    font-size: 1.5rem;
    font-size: 1.5rem;
}


.footer {
    text-align: center;
}


.out-link {
    text-align: center;
    margin-bottom: 3.0rem;
    opacity: 0;
    transition: all 5s ease;
}

.out-link img {
    width: 5.0rem;
}








/*
@media screen and (min-width: 1px) {
    header {
        position: fixed;
        z-index: 99;
        top: 0;
        left: 0;
        width: 100vw;
        height: 4vh;
        background: #eee;
        box-sizing: border-box;
    }

    .logo {
        padding-left: 1vw;
        padding-top: 1vh;
        margin: 0;
        font-size: 2vh;
    }

    
    body {
        font-family: Franklin Gothic;
        color:#000;
        background-color:#fff;
        margin: 0;
        padding-top: 4vh;
    }

    .profile {
        padding-left: 15vw; 
        padding-right: 15vw; 
        text-align: center;
        display: block;
    }

    .profile .message {
        text-align: left;
        font-size: 20px;
        display: inline-block;
        font-weight: lighter;
    }

    .headline {
        position: relative;
        text-align: center;
    }

    .headline img{
        width: 100%;
        opacity: 0.6;
    }

    .headline .text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: black;
        display:block;
    }

    .headline .text h1{
        position: relative;
        font-size: 4.0vw;
        display: block;
        
    }
    .headline .text h3 {
        position: relative;
        font-size: 2.0vw;
        font-weight: lighter;
        display: block;
    }

    .sub-content {
        padding-left: 15vw;
        padding-right: 15vw;
        margin-bottom: 5vh;
    }

    .sub-content li {
        margin-bottom: 15px;
    }

    .sub-content .sub-title {
        font-size: 30px;
        color: black;
        font-weight: bold;
        text-shadow:1px 1px 3px gray;
    }

    .sub-content .sub-text {
        font-size: 20px;
    }
    .sub-content .sub-text .element {
        margin-bottom: 15px;
    }

    .footer {
        text-align: center;
    }

    .bottom_space {
        margin-bottom: 15px;
    }

    .out-link {
        text-align: center;
        margin-bottom: 5vh;
    }

    .out-link img {
        width: 80px;
    }
}


 */
